In [20]:
import sqlite3

In [21]:
connection=sqlite3.connect("chinook.db")

In [22]:
cursor=connection.cursor()

cursor.execute("select * from customers")

result=cursor.fetchall()
for i in result:
    print(i[0:5])
connection.close()

(1, 'Luís', 'Gonçalves', 'Embraer - Empresa Brasileira de Aeronáutica S.A.', 'Av. Brigadeiro Faria Lima, 2170')
(2, 'Leonie', 'Köhler', None, 'Theodor-Heuss-Straße 34')
(3, 'François', 'Tremblay', None, '1498 rue Bélanger')
(4, 'Bjørn', 'Hansen', None, 'Ullevålsveien 14')
(5, 'František', 'Wichterlová', 'JetBrains s.r.o.', 'Klanova 9/506')
(6, 'Helena', 'Holý', None, 'Rilská 3174/6')
(7, 'Astrid', 'Gruber', None, 'Rotenturmstraße 4, 1010 Innere Stadt')
(8, 'Daan', 'Peeters', None, 'Grétrystraat 63')
(9, 'Kara', 'Nielsen', None, 'Sønder Boulevard 51')
(10, 'Eduardo', 'Martins', 'Woodstock Discos', 'Rua Dr. Falcão Filho, 155')
(11, 'Alexandre', 'Rocha', 'Banco do Brasil S.A.', 'Av. Paulista, 2022')
(12, 'Roberto', 'Almeida', 'Riotur', 'Praça Pio X, 119')
(13, 'Fernanda', 'Ramos', None, 'Qe 7 Bloco G')
(14, 'Mark', 'Philips', 'Telus', '8210 111 ST NW')
(15, 'Jennifer', 'Peterson', 'Rogers Canada', '700 W Pender Street')
(16, 'Frank', 'Harris', 'Google Inc.', '1600 Amphitheatre Parkway')
(17, 'Jack', 'Smith', 'Microsoft Corporation', '1 Microsoft Way')
(18, 'Michelle', 'Brooks', None, '627 Broadway')
(19, 'Tim', 'Goyer', 'Apple Inc.', '1 Infinite Loop')
(20, 'Dan', 'Miller', None, '541 Del Medio Avenue')
(21, 'Kathy', 'Chase', None, '801 W 4th Street')
(22, 'Heather', 'Leacock', None, '120 S Orange Ave')
(23, 'John', 'Gordon', None, '69 Salem Street')
(24, 'Frank', 'Ralston', None, '162 E Superior Street')
(25, 'Victor', 'Stevens', None, '319 N. Frances Street')
(26, 'Richard', 'Cunningham', None, '2211 W Berry Street')
(27, 'Patrick', 'Gray', None, '1033 N Park Ave')
(28, 'Julia', 'Barnett', None, '302 S 700 E')
(29, 'Robert', 'Brown', None, '796 Dundas Street West')
(30, 'Edward', 'Francis', None, '230 Elgin Street')
(31, 'Martha', 'Silk', None, '194A Chain Lake Drive')
(32, 'Aaron', 'Mitchell', None, '696 Osborne Street')
(33, 'Ellie', 'Sullivan', None, '5112 48 Street')
(34, 'João', 'Fernandes', None, 'Rua da Assunção 53')
(35, 'Madalena', 'Sampaio', None, 'Rua dos Campeões Europeus de Viena, 4350')
(36, 'Hannah', 'Schneider', None, 'Tauentzienstraße 8')
(37, 'Fynn', 'Zimmermann', None, 'Berger Straße 10')
(38, 'Niklas', 'Schröder', None, 'Barbarossastraße 19')
(39, 'Camille', 'Bernard', None, '4, Rue Milton')
(40, 'Dominique', 'Lefebvre', None, '8, Rue Hanovre')
(41, 'Marc', 'Dubois', None, '11, Place Bellecour')
(42, 'Wyatt', 'Girard', None, '9, Place Louis Barthou')
(43, 'Isabelle', 'Mercier', None, '68, Rue Jouvence')
(44, 'Terhi', 'Hämäläinen', None, 'Porthaninkatu 9')
(45, 'Ladislav', 'Kovács', None, 'Erzsébet krt. 58.')
(46, 'Hugh', "O'Reilly", None, '3 Chatham Street')
(47, 'Lucas', 'Mancini', None, 'Via Degli Scipioni, 43')
(48, 'Johannes', 'Van der Berg', None, 'Lijnbaansgracht 120bg')
(49, 'Stanisław', 'Wójcik', None, 'Ordynacka 10')
(50, 'Enrique', 'Muñoz', None, 'C/ San Bernardo 85')
(51, 'Joakim', 'Johansson', None, 'Celsiusg. 9')
(52, 'Emma', 'Jones', None, '202 Hoxton Street')
(53, 'Phil', 'Hughes', None, '113 Lupus St')
(54, 'Steve', 'Murray', None, '110 Raeburn Pl')
(55, 'Mark', 'Taylor', None, '421 Bourke Street')
(56, 'Diego', 'Gutiérrez', None, '307 Macacha Güemes')
(57, 'Luis', 'Rojas', None, 'Calle Lira, 198')
(58, 'Manoj', 'Pareek', None, '12,Community Centre')
(59, 'Puja', 'Srivastava', None, '3,Raj Bhavan Road')