In [7]:
import mysql.connector
import datetime

In [15]:
connection=mysql.connector.connect(
    host="localhost",
    user="root",
    password="2121",
    database="schooldb"
)

mycursor=connection.cursor()

sql="INSERT INTO student(StudentNumber,Name,Surname,Birthdate,Geder) VALUES(%s,%s,%s,%s,%s)"
ogrenciler=[
    ("301","Ahmet","Yılmaz",datetime.datetime(2005,5,17),"E"),
    ("302","Ali","Can",datetime.datetime(2005,6,17),"E"),
    ("303","Canan","Tan",datetime.datetime(2005,7,7),"K"),
    ("304","Ayşe","Taner",datetime.datetime(2005,9,23),"K"),
    ("305","Bahadır","Toksöz",datetime.datetime(2004,7,25),"E"),
    ("306","Ali","Cenk",datetime.datetime(2003,8,25),"E"),
]
mycursor.executemany(sql,ogrenciler)

try:    
    connection.commit()
    print(f"{mycursor.rowcount} tane kayıt eklendi") # kaç ane kayıt eklendiğini görürüz
    print(f"son eklenen kaydın id: {mycursor.lastrowid}")
except mysql.connector.Error as err:
    print("hata",err)
finally:
    connection.close()

DatabaseError: 1205 (HY000): Lock wait timeout exceeded; try restarting transaction